<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuai.dlog">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <!--DLog的上报服务-->
        <service
            android:name="com.shuai.dlog.service.DLogReportService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>